body{
    margin: 0;
    font-family: "Roboto", 'sans-serif';
}
/* Header section CSS */
.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 5px 200px;
    max-height: 526px;
    flex: 0 0 auto;
    
}
.nav-bar h2 {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-bar{
    display: flex;
    
}

.nav-bar ul {
    margin-left: auto;
    list-style: none;
    display: flex;
    color: #E5E7EB;
    gap: 10px;
    font-size: 18px;
}

.header-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0px;
}

.header-information .description {
    width: 380px;
    flex: 0 0 auto;
    
}

.header-information img {
    width: 500px;
    height: 236px;
    flex: 0 0 auto;
    margin-left: 10px;
}

.description h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.description p {
    margin: 0;
    color: #E5E7EB;

}

.description button {
    margin-top: 10px;
    padding: 5px 30px;
    border-radius: 5px;
    border: 0px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 900;
}
/* Header section CSS */

/* Body section CSS */

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}





.info-graphics {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 80px;
    
}

.info-graphics div {
    width: 175px;
    height: 225px;
    flex:  0 0 auto;
    
}

.info-graphics img {
    width: 150px;
    border: #3882F6 3px solid;
    height: 150px;
    border-radius: 10px;
}

.info-graphics p {
    font-size: 18px;
    color: #1F2937;
}


/* Body section CSS */

/*quote section CSS*/

.quote-section {
    background-color: #E5E7EB;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 35px 0px;
}

.quote {
 display: flex;
 flex-direction: column;
 width: 800px;
 flex: 0 0 auto;
}

.quote p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.quote h3 {
    margin-left: auto;
    margin-top: 0px;
}

/*quote section CSS*/
