body{
    margin: 0;
    font-family: "Roboto", 'sans-serif';
}
.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 5px 150px;
    
}
.nav-bar h2 {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-bar{
    display: flex;
    
}

.nav-bar ul {
    margin-left: auto;
    list-style: none;
    display: flex;
    color: #E5E7EB;
    gap: 10px;
}

